.hero {
  width: 100%;
  height: 90px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/the-geek-store-9bbe6.appspot.com/o/Screenshot_1-XJxlzxeKx-transformed.webp?alt=media&token=e7c5a100-e9cf-48a0-8e7c-479461bd0ff0");
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
 
}


@media (min-width: 768px) {
  .hero {
    height: 192px;
  } 
  
}
@media (min-width: 1024px) {
   .hero {
    height: 352px;
  } 
  
}

