.btn {
  position: relative;
  width: 100px;
  height: 30px;
  top: calc(60%);
  left: calc(2%);
  padding: 12px 16px;
  gap: 10px;
  background-color: #2a7ae4;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .btn {
    width: 120px;
    height: 45px;
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) {
  .btn {
    width: 220px;
    height: 80px;
    font-size: 2rem;
  }
}
